<p>Who do you want to chat with?</p>
<section>
  <ul class="list-group">
    <% @users.each do |user| %>
      <% unless user == current_user %>
        <li class="list-group-item d-flex justify-content-between align-items-center">

          <%= user.username %>
          <span class="">
            <%= link_to 'Chat', conversations_path, method: :post,
                data: { eluser_id: user.id }, class: 'btn btn-primary btn-sm' %>
              <%# <%= form_with model: @conversation do |form| %1> %>
                
            
          </span>
        </li>
      <% end %>
    <% end %>
  </ul>
  </br>
  <%= link_to 'Home page', root_path, class: 'btn btn-sm btn-outline-secondary' %>
</section>
