<div class="container">
  <div class="d-flex flex-column justify-content-center align-items-center">
    <h1>Welcome!</h1>
    <p>
      <% unless current_user %>
        <p>Sign up to get started.</p>
        <%= link_to new_user_path, class: 'btn btn-primary btn-lg' do %>
          Sign Up &raquo;
        <% end %>
      <% end %>
    </p>
  </div>
</div>
