<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Hi <%= @user.username %></h1>
    <p>
      This is the summary of the day:
    </p>
    <p>
      New conversations: <%= @summary[:conversations] %></br>
      New messages: <%= @summary[:messages] %>
    </p>
    <p>Enjoy your day!</p>
  </body>
</html>
